@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  background: #fff6ef;
}

body {
  font-family: montserrat, arial, verdana;
}

.progress_bar{
  width: 90vw;
  height: 20px;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .line{
    background: linear-gradient(90deg, rgba(253,216,220,1) 0%, rgba(250,198,205,1) 47%, rgba(247,161,172,1) 100%);
    height: 100%;
    animation: progress_bar 6s infinite;
  }
}

@keyframes progress_bar{
  0%{width: 0%;}
  100%{width: 100%;}
}

.datalist{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  label{
    display: flex;
    justify-content: space-between;
  }
  hr{
    margin-bottom: 20px;
  }
}

#multistepsform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
  
    fieldset {
      display: none;
      background: white;
      border: 0 none;
      border-radius: 3px;
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
      padding: 20px 30px;
      box-sizing: border-box;
      width: 80%;
      margin: 0 10%;
      position: relative;
    }
    input{
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
      font-family: montserrat;
      color: #2c3e50;
      font-size: 13px;
      &:focus {
        border-color: #679b9b;
        outline: none;
        color: #637373;
      }
    }
  
    .action-button {
      width: 100px;
      background: #ff9a76;
      font-weight: bold;
      color: #fff;
      transition: 150ms;
      border: 0 none;
      border-radius: 1px;
      cursor: pointer;
      padding: 10px 5px;
      margin: 10px 5px;
    }
    .action-button:hover,
    .action-button:focus {
      box-shadow: 0 0 0 2px #f08a5d;
      color: #fff;
    }
    .fs-title {
      font-size: 15px;
      text-transform: uppercase;
      color: #2c3e50;
      margin-bottom: 10px;
    }
    .fs-subtitle {
      font-weight: normal;
      font-size: 13px;
      color: #666;
      margin-bottom: 20px;
    }
    .fieldset-active{
        display: block;
    }
}

.alert{
    display: none;
    padding: 20px;
    background-color: rgb(224, 123, 123);
    color: white;
    width: 400px;
    position: absolute;
    top: 100%;
    left: 100%;
    margin: -10px;
    transform: translate(-100%, -100%);
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    justify-content: space-between;
    button{
        background: transparent;
        border: none;
        color: white;
    }
}

.active{
    display: flex;
    transition: all .3s;
}